
$defaultOrange: #EB6929;
$green: #8EAD78;
$white: #FFFFFF;
$selectHover: #F1CFBE;
$inputColor: #f2f2f2;
$inputBorder: #d9d9d9;
$textAreaColor: #464646;
$textAreaBackground: rgba(204,204,204,0.7);
$defaultTextColor: rgb(22, 31, 106);
$defaultGreen: rgb(0, 197, 141);
$gray04: #C1CCCD;
$darkGreen: #00211F;
$gray03: #6A7C7B;
$sunsetOrange: #FF5247;
$operatorLockVerizon: #FF0000;
$operatorLockTMobile: #E20074;
$operatorLockBoostMobile: #F8901F;
$operatorLockSprint: #FFE100;
$operatorLockATT: #3AA5DC;
$teal: #00908A;
$gray05: #F4F6F7;
$aqua: #004B48;
$silver: #C4C4C4;
$red: #FF7F7A;
$offWhite: #F0EEE9;
$holly: #012120;
$navy: #0B213C;
$lightSilver: #F1F4F4;
$outerSpace: #2D3B3B;
$yellow: #F0EF69;
$mercury: #E5E5E5;
$midTone: #8E2D2A;
$black: #000000;
$flamePea: #DC514C;

@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/open_sans.ttf');
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/fa-solid-900.ttf');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 300;
  src: url('assets/fonts/founders-grotesk-web-light.woff');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 500;
  src: url('assets/fonts/founders-grotesk-web-medium.woff');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 400;
  src: url('assets/fonts/founders-grotesk-web-regular.woff');
}

@font-face {
  font-family: 'Founders Grotesk';
  font-weight: 600;
  src: url('assets/fonts/founders-grotesk-web-semibold.woff');
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/**
 * fix for not custom-route pages
 */

.custom-route_override *:not(h1) {
  font-family: 'Lato', sans-serif !important;
}

a, button, div, input, p, span {
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  padding: 0px;
  color: $darkGreen;
  outline: none !important;
  outline-style: none !important;

  @media (max-width: 767px) {
    line-height: 14px;
  }
}

// [role=button] {
//   cursor: default;
// }

i {
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  padding: 0px;
  color: $darkGreen;
  outline: none !important;
  outline-style: none !important;
  font-family: 'Lato', sans-serif !important;

  @media (max-width: 767px) {
    line-height: 14px;
  }
}

a {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

label {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
}

h1 {
  font-family: 'Founders Grotesk', sans-serif !important;
  font-size: 22px;
}

h2 {
  font-size: 1.3rem !important;
}

h3 {
  font-size: 1.1rem !important;
}

h4 {
  font-size: 0.9rem !important;
}

html, body {
  height: 100%;

  ::-webkit-scrollbar {
    // display: none;//TODO ВЕРНУТЬ СКРОЛЛ
  }
}

a {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

a, button, div, input, p, span {
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  padding: 0px;
  color: $darkGreen;
  outline: none !important;
  outline-style: none !important;

  @media (max-width: 767px) {
    line-height: 14px;
  }
}

.ui.popup {
  max-width: unset;

  @media (max-width: 767px) {
    max-width: 250px;
  }
}

.body-modal-open {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

// @media screen and (-webkit-min-device-pixel-ratio: 0) {
//     select:focus,
//     textarea:focus,
//     input:focus {
//       font-size: 16px;
//     }
// }
